asn1crypto==0.24.0
binwalk==2.1.2
Brlapi==0.6.7
certifi==2018.8.24
chardet==3.0.4
chrome-gnome-shell==0.0.0
cryptography==2.6.1
cupshelpers==1.0
cycler==0.10.0
decorator==4.3.0
distro==1.3.0
distro-info==0.21
docutils==0.14
entrypoints==0.3
flake8==3.6.0
gevent==20.6.2
greenlet==0.4.16
html5lib==1.0.1
httplib2==0.11.3
idna==2.6
jedi==0.17.2
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.0.1
louis==3.8.0
Mako==1.0.7
Markdown==3.0.1
Markups==3.0.0
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
modbus-tk==1.1.1
numpy==1.16.2
olefile==0.46
parso==0.7.1
pexpect==4.6.0
Pillow==5.4.1
pycairo==1.16.2
pycodestyle==2.4.0
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
pyenchant==2.0.0
pyflakes==2.0.0
Pygments==2.3.1
PyGObject==3.30.4
PyOpenGL==3.1.0
pyparsing==2.2.0
pyqtgraph==0.10.0
pyserial==3.4
PySimpleSOAP==1.16.2
pysmbc==1.0.15.6
python-apt==1.8.4
python-dateutil==2.7.3
python-debian==0.1.35
python-debianbts==2.8.2
python-markdown-math==0.6
pyxdg==0.25
PyYAML==3.13
reportbug===7.5.3-deb10u1
reportlab==3.5.55
requests==2.21.0
roman==2.0.0
scipy==1.1.0
SecretStorage==2.3.1
six==1.12.0
textile==3.0.3
unattended-upgrades==0.1
urllib3==1.24.1
webencodings==0.5.1
websocket==0.2.1
websocket-client==0.57.0
zope.event==4.4
zope.interface==5.1.0
